services:
  app:
    build:
      context: .
      target: dev
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - .:/app
      - /app/node_modules
      - ./backups:/backups
    depends_on:
      - db
